@import './../../../bb-ui/styles/vars';

.wrapper {
    width:100%;
    border-radius: 12px;
    background-color: white;

    .head {
        padding: 1.7rem;
        background-color: $primary-blue;
        color: white;
        border-radius: 12px 12px 0px 0px;
        .icon {
            margin-right: 10px;
        }
    }

    .body{
        padding: 1.7rem;
        font-family: sans-serif;
    }
}
