<form class="form" #formGroupRef="ngForm" [formGroup]="transferForm">
    <div class="control-group">
        <label>From Account</label>
        <input formControlName="fromAccount" name="fromAccount" type="text" class="form-control"
            placeholder="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <div class="control-group">
        <label>To Account</label>
        <input formControlName="toAccount" name="toAccount" type="text" class="form-control"
            placeholder="Recipient's username" aria-describedby="basic-addon2">
        <div *ngIf="transferForm.get('toAccount')?.invalid && (transferForm.get('toAccount')?.dirty || transferForm.get('toAccount')?.touched)"
            class="inline-error">
            <div *ngIf="transferForm.get('toAccount')?.errors?.['required']">
                This Field is required.
            </div>
        </div>
    </div>
    <div class="control-group">
        <label>Amount</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">€</span>
            <input formControlName="amount" name="amount"
                type="text" class="form-control" placeholder="amount" aria-describedby="basic-addon1">
        </div>
        <div *ngIf="transferForm.get('amount')?.invalid && (transferForm.get('amount')?.dirty || transferForm.get('amount')?.touched)"
            class="inline-error">
            <div *ngIf="transferForm.get('amount')?.errors?.['msg']" class="invalid-amount">
                {{ transferForm.get('amount')?.errors?.['msg']}}
            </div>
        </div>
    </div>
    <div class="buttons-holder" [ngClass]="{'dim-button':!transferForm.valid}">
        <app-submit-button  (submitForm)="onSubmit()"></app-submit-button>
    </div>
</form>

<div class="modal" *ngIf="showModal">
    <div class="modal-back" (click)="closeModal()"></div>
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" (click)="closeModal()"><span aria-hidden="true">&times;</span>
                    <span class="sr-only">Close</span></button>
                <h4 class="modal-title">Review Transfer</h4>
            </div>
            <div class="modal-body">
                <p>Are you ready to send out this transfer?</p>
                <div><strong>It will be send to account:</strong></div>
                <div>{{newTransaction.merchant.name }}</div>
                <div><strong>With the amount of:</strong></div>
                <div>{{newTransaction.transaction.amountCurrency.amount|currency:newTransaction.transaction.amountCurrency.currencyCode }}</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" (click)="closeModal()">Close</button>
                <button class="btn btn-primary" (click)="confirm()">Send Transfer</button>
            </div>
        </div>
    </div>
</div>