<form class="form">
    <div>
        <label>From Account</label>
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    </div>

    <div>
        <label>To Account</label>
        <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">

    </div>
    <div>
        <label>Amount</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">@</span>
            <input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1">
        </div>
    </div>
    <div class="buttons-holder">
        <app-submit-button></app-submit-button>
    </div>
</form>