<form class="form" #formGroupRef="ngForm" [formGroup]="transferForm">
    <div class="control-group">
        <label>From Account</label>
        <input formControlName="fromAccount" name="fromAccount" type="text" class="form-control"
            placeholder="Recipient's username" aria-describedby="basic-addon2">
    </div>
    <div class="control-group">
        <label>To Account</label>
        <input formControlName="toAccount" name="toAccount" type="text" class="form-control"
            placeholder="Recipient's username" aria-describedby="basic-addon2">
        <div *ngIf="transferForm.get('toAccount')?.invalid && (transferForm.get('toAccount')?.dirty || transferForm.get('toAccount')?.touched)"
            class="inline-error">
            <div *ngIf="transferForm.get('toAccount')?.errors?.['required']">
                This Field is required.
            </div>
        </div>
    </div>
    <div class="control-group">
        <label>Amount</label>
        <div class="input-group">
            <span class="input-group-addon" id="basic-addon1">€</span>
            <input formControlName="amount" name="amount" type="text" class="form-control" placeholder="amount"
                aria-describedby="basic-addon1">
        </div>
        <div *ngIf="transferForm.get('amount')?.invalid && (transferForm.get('amount')?.dirty || transferForm.get('amount')?.touched)"
            class="inline-error">
            <div *ngIf="transferForm.get('amount')?.errors?.['msg']" class="invalid-amount">
                {{ transferForm.get('amount')?.errors?.['msg']}}
            </div>
        </div>
    </div>
    <div class="buttons-holder" [ngClass]="{'dim-button':!transferForm.valid}">
        <app-submit-button (submitForm)="onSubmit()"></app-submit-button>
    </div>
</form>


<app-modal *ngIf="showModal" title="'Review Transfer'" (onClose)="closeModal()">
    <h4 element="modal-title"><strong>Review</strong> Transfer</h4>
    <div element='modal-content'>
        <p>Are you ready to send out this transfer?</p>
        <p><strong>It will be send to account:</strong></p>
        <p>{{newTransaction.merchant.name }}</p>
        <p><strong>With the amount of:</strong></p>
        <p>{{newTransaction.transaction.amountCurrency.amount|currency:newTransaction.transaction.amountCurrency.currencyCode }}</p>
    </div>
    <button element="modal-button" class="btn btn-primary" (click)="confirm()">Send Transfer</button>
            
</app-modal>