
@import '../styles/variables';
.wee{
    max-height: 390px;
    overflow-x: hidden;
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }

}
.history-wrapper{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 3.2em;
    margin: 15px 0px;
    width: 100%;

    .decorator{
        width: 5px;
        height: 4em;

    }

    .date{
        width: 40%;
        margin: 10px;
    }
    .merchant-details{
        width: 80%
    }
    .price{
        width:100%;
        text-align: right;
        &.green {
            color: $green_color;
        }
        &.red {
            color: $red_color;
        }
    }
}

div:last-child > hr{
    display: none;    
}

::ng-deep .filter {
    .input-group {
        display: table;
        .input-group-prepend {
            padding: 6px 12px;
            background-color: #eee;
            border: 1px solid #ccc;
            border-radius: 4px 0px 0px 4px;
            vertical-align: middle;
            display: table-cell;
            .input-group-text{
                display: table-cell;
            }
        }
    }
}


::ng-deep .merchant-details {
    width: 100%;
}